button:enabled:active {
  background: transparent;
}
body {
  font-family: PingFangSC-Regular, 'Helvetica Neue', Helvetica, sans-serif;
}
header.mui-bar {
  background-color: #fff;
  height: 0.44rem;
  line-height: 0.44rem;
}
header.mui-bar .black-back-btn {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 0.52rem;
  height: 0.44rem;
  background: url(../images/get_back_xy.svg) no-repeat;
  background-size: 0.3rem 0.2rem;
  background-position: center;
}
header.mui-bar .white-back-btn {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 0.52rem;
  height: 0.44rem;
  background: url(../images/get_back_xy.svg) no-repeat;
  background-size: 0.3rem 0.2rem;
  background-position: center;
}
header.mui-bar > a.mui-icon {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.05rem;
}
header.mui-bar > a.mui-icon::before {
  font-size: 0.25rem;
  color: #2b343b;
}
header.mui-bar > a.mui-icon:active {
  opacity: 1;
}
header.mui-bar .mui-title {
  height: 0.44rem;
  line-height: 0.44rem;
  font-size: 0.17rem;
  color: #2b343b;
  font-family: PingFangSC-Medium;
}
html.login,
body.login,
body.login > div:not(.mui-popup-backdrop):not(.mui-popup.mui-popup-in) {
  height: 100%;
  background-color: #f1f3f8;
}
.mui-content {
  background-color: #f4f4f4;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.newAddClearBtn {
  height: 100%;
  width: 0.3rem;
  top: 0;
  box-sizing: border-box;
  padding-top: 0;
  padding-right: 0;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  right: 0;
  text-align: center;
  color: #999;
}
.newAddClearBtn::before {
  color: red;
  content: "";
  display: block;
  width: 0.11rem;
  height: 0.11rem;
  margin-top: -0.055rem;
  top: 49%;
  left: 0.08rem;
  position: absolute;
  background-image: url(../images/btn_cancle1.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
body.gerenzhongxin header.mui-bar {
  background-color: #fff;
  box-shadow: none;
}
body.gerenzhongxin header.mui-bar > a.mui-icon::before {
  color: #171717;
}
body.gerenzhongxin header.mui-bar .mui-title {
  color: #171717;
}
body.gerenzhongxin .mui-content {
  padding-left: 0;
  padding-right: 0;
}
.main {
  margin-top: 0.2rem;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  border-radius: 0.05rem;
  box-shadow: 0 0.04rem 0.06rem 0 rgba(0, 0, 0, 0.1);
}
.main .input-box {
  position: relative;
  margin: 0 auto;
  width: 2.75rem;
  height: 0.6rem;
  background-color: #f1f3f8;
  border-radius: 0.05rem;
  margin-top: 0.2rem;
  overflow: hidden;
}
.main .input-box span {
  position: absolute;
  display: block;
}
.main .input-box .phone {
  left: 0.2rem;
  top: 0.24rem;
  width: 0.1rem;
  height: 0.14rem;
  background: url(../images/icon_mobile.svg) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.main .input-box .password {
  left: 0.2rem;
  top: 0.24rem;
  width: 0.11rem;
  height: 0.13rem;
  background: url(../images/icon_lock.svg) no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.main .input-box input {
  margin: 0;
  padding-left: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.3rem;
  width: 100%;
  height: 0.6rem;
  line-height: normal;
  border: none;
  outline: none;
  background-color: #f1f3f8;
  font-family: PingFangSC-Regular;
  font-size: 0.14rem;
}
.main .input-box input::-webkit-input-placeholder {
  color: #8c9aa8;
}
.main .input-box:nth-of-type(1) {
  margin-top: 0;
}
.main .left-text-input {
  position: relative;
  width: 2.9rem;
  height: 0.5rem;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #F0F0F0;
}
.main .left-text-input span {
  float: left;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.14rem;
  color: #72777d;
}
.main .left-text-input input {
  float: right;
  width: 2.05rem;
  height: 0.5rem;
  line-height: normal;
  margin-left: 0.1rem;
  margin-bottom: 0;
  font-size: 0.14rem;
  padding: 0;
  padding-right: 0.3rem;
  padding-top: 0.18rem;
  padding-bottom: 0.18rem;
  color: #72777d;
  border: none;
  outline: none;
}
.main .left-text-input input::-webkit-input-placeholder {
  color: #bdc2c6;
}
.main .left-text-input .btn {
  border: 1px solid red;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 0.28rem;
  line-height: 0.28rem;
  border: 1px solid #D6D6D6;
  padding: 0 0.1rem;
  border-radius: 0.14rem;
  color: #D6D6D6;
}
.main .left-text-input .btn.active {
  background: #ff9900;
  border: 1px solid #ff9900;
  color: #fff;
}
.main .left-text-input.right-btn input {
  padding-right: 1.2rem;
}
.main .left-text-input.right-btn .newAddClearBtn {
  right: 0.9rem;
}
.main .address {
  width: 2.9rem;
  height: 0.7rem;
  margin: 0 auto;
  border-bottom: 1px solid #F0F0F0;
}
.main .address span:nth-child(1) {
  color: #72777d;
  font-size: 0.14rem;
  height: 0.14rem;
  line-height: 0.14rem;
  display: inline-block;
  margin-top: 0.18rem;
}
.main .address .right {
  float: right;
  height: 100%;
  width: 1.95rem;
}
.main .address .right p:nth-child(1) {
  height: 0.14rem;
  line-height: 0.14rem;
  font-size: 0.14rem;
  color: #bdc2c6;
  margin-top: 0.18rem;
  margin-bottom: 0.1rem;
}
.main .address .right p:nth-child(1) i {
  display: inline-block;
  width: 0.09rem;
  height: 0.12rem;
  background: url(../images/site_order.svg) no-repeat;
  background-size: 100% 100%;
  margin-right: 0.08rem;
  vertical-align: top;
  margin-top: 0.02rem;
}
.main .address .right p:nth-child(2) {
  height: 0.11rem;
  line-height: 0.11rem;
  font-size: 0.11rem;
  color: #8c8c8c;
}
.main .main-title {
  width: 2.9rem;
  margin: 0 auto;
  height: 0.14rem;
  line-height: 0.14rem;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
  font-size: 0.14rem;
  color: #72777d;
}
.main .main-title .right {
  float: right;
  font-size: 0.11rem;
  color: #8c8c8c;
}
.main .upload-img-box {
  width: 2.9rem;
  margin: 0 auto;
}
.main .upload-img-box .one {
  width: 1.3rem;
  height: 0.82rem;
  position: relative;
}
.main .upload-img-box .one img {
  width: 100%;
  height: 100%;
}
.main .upload-img-box .one span {
  display: block;
  width: 0.4rem;
  height: 0.36rem;
  margin-left: -0.2rem;
  background: url(../images/icon_ic_camera_alt.svg) no-repeat;
  position: absolute;
  left: 50%;
  top: 0.2rem;
  z-index: 2;
}
.main .upload-img-box .one input {
  border: 1px solid red;
  width: 0.4rem;
  height: 0.36rem;
  margin-left: -0.2rem;
  position: absolute;
  left: 50%;
  top: 0.2rem;
  opacity: 0;
  z-index: 3;
}
.main .upload-img-box .one:first-of-type {
  float: left;
  background: url(../images/img_idcard_front.svg) no-repeat;
  background-size: 100% 100%;
}
.main .upload-img-box .one.report:first-of-type {
  float: left;
  background: url(../images/img_report.svg) no-repeat;
  background-size: 100% 100%;
}
.main .upload-img-box .one:last-of-type {
  float: right;
  background: url(../images/img_idcard_back.svg) no-repeat;
  background-size: 100% 100%;
}
.main .upload-img-box .one.single {
  background-image: url(../images/img_report.svg);
}
.main .upload-img-box:after {
  content: "";
  display: table;
  clear: both;
}
.main .imgs {
  width: 2.95rem;
  margin: 0 auto;
}
.main .imgs .img {
  float: left;
  width: 1.4rem;
  height: 1.05rem;
  border-radius: 0.04rem;
  overflow: hidden;
  margin-bottom: 0.15rem;
  position: relative;
}
.main .imgs .img img {
  width: 100%;
  height: 100%;
}
.main .imgs .img .del {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 0.15rem;
  height: 0.15rem;
  line-height: 0.14rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: red;
  font-size: 0.14rem;
}
.main .imgs .img:nth-child(even) {
  margin-left: 0.15rem;
}
.main .imgs .img.btn {
  border: 1px solid #bdc2c6;
  position: relative;
}
.main .imgs .img.btn span {
  display: block;
  width: 0.28rem;
  height: 0.28rem;
  background: url(../images/2018-01-02_175400.png) no-repeat;
  position: absolute;
  margin-left: -0.14rem;
  margin-top: -0.14rem;
  left: 50%;
  top: 50%;
}
.main .imgs .img.btn input {
  position: absolute;
  display: block;
  width: 0.28rem;
  height: 0.28rem;
  margin-left: -0.14rem;
  margin-top: -0.14rem;
  left: 50%;
  top: 50%;
  opacity: 0;
}
.main .imgs:after {
  content: "";
  display: table;
  clear: both;
}
body.index {
  height: 100%;
}
body.index header.mui-bar {
  background-color: #fff;
  box-shadow: none;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
body.index header.mui-bar > a.mui-icon::before {
  color: #ff9900;
}
body.index header.mui-bar .mui-title {
  color: #171717;
}
body.index header.mui-bar .rightBtn {
  display: block;
  float: right;
  margin-right: 0.1rem;
  width: 0.2rem;
  height: 0.2rem;
  margin-top: 0.13rem;
  background: url(../images/ic_profile.svg) no-repeat;
  background-size: 100% 100%;
}
body.index .mui-content {
  padding-left: 0;
  padding-right: 0;
}
body.index .mui-content .top-blue {
  background-color: #ff9900;
  height: 2.4rem;
  position: relative;
}
body.index .mui-content .top-blue .one {
  position: absolute;
  bottom: 0.44rem;
  left: 50%;
  margin-left: -1.425rem;
  width: 2.85rem;
  height: 1rem;
  opacity: 0.1;
  background: #ffffff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.05rem;
}
body.index .mui-content .top-blue .two {
  width: 3.15rem;
  height: 1rem;
  position: absolute;
  bottom: 0.5rem;
  margin-left: -1.575rem;
  left: 50%;
  opacity: 0.3;
  background: #ffffff;
  border-radius: 0.05rem;
}
body.index .mui-content .top-blue .white {
  width: 3.35rem;
  height: 1.6rem;
  position: absolute;
  margin-left: -1.675rem;
  left: 50%;
  bottom: 0.56rem;
  background: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(157, 157, 157, 0.05);
  border-radius: 0.05rem;
  box-sizing: border-box;
  padding: 0.2rem;
}
body.index .mui-content .top-blue .white .logo {
  width: 0.9rem;
  height: 0.9rem;
  overflow: hidden;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1);
  border-radius: 0.05rem;
  float: left;
}
body.index .mui-content .top-blue .white .logo img {
  width: 100%;
  height: 100%;
}
body.index .mui-content .top-blue .white .text {
  float: right;
  width: 1.9rem;
  height: 0.9rem;
  box-sizing: border-box;
}
body.index .mui-content .top-blue .white .text .title {
  height: 0.25rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 0.25rem;
  font-size: 0.18rem;
  color: #737b91;
}
body.index .mui-content .top-blue .white .text .desc {
  height: 0.36rem;
  line-height: 0.18rem;
  opacity: 0.5;
  font-size: 0.13rem;
  color: #737b91;
  margin-top: 0.08rem;
  overflow: hidden;
}
body.index .mui-content .top-blue .white .text .icon {
  display: block;
  margin-top: 0.02rem;
  margin-left: -0.04rem;
  width: 0.61rem;
  height: 0.17rem;
  background: url(../images/icon_accept.svg) no-repeat;
  background-size: 100% 100%;
}
body.index .mui-content .top-blue .white.no-shop {
  padding: 0.4rem 0 0 0.2rem;
}
body.index .mui-content .top-blue .white.no-shop > div {
  float: left;
}
body.index .mui-content .top-blue .white.no-shop .left {
  width: 1.2rem;
  text-align: center;
}
body.index .mui-content .top-blue .white.no-shop .left .text {
  float: none;
  width: 100%;
  height: 0.2rem;
  line-height: 0.2rem;
  font-family: PingFangSC-Regular;
  font-size: 0.14rem;
  color: #737b91;
}
body.index .mui-content .top-blue .white.no-shop .left .btn {
  width: 75%;
  margin: 0.15rem auto 0;
  height: 0.34rem;
  line-height: 0.34rem;
  border-radius: 3px;
  background-color: #ff9900;
  font-family: PingFangSC-Regular;
  font-size: 0.14rem;
  color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 6px 0 rgba(71, 104, 243, 0.35);
}
body.index .mui-content .top-blue .white.no-shop .right {
  margin-left: 0.12rem;
  width: 1.68rem;
  height: 1.13rem;
}
body.index .mui-content .top-blue .white.no-shop .right img {
  width: 100%;
  height: 100%;
}
body.index .mui-content .top-blue .text-bot {
  position: absolute;
  bottom: 0.14rem;
  width: 100%;
  height: 0.2rem;
  line-height: 0.2rem;
  font-size: 0.14rem;
  text-align: center;
  font-family: PingFangSC-Medium;
  color: rgba(255, 255, 255, 0.9);
}
body.index .mui-content .slider {
  background: #f4f4f4;
}
body.index .mui-content .slider .row {
  margin-top: 0.2rem;
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;
}
body.index .mui-content .slider .row .cell {
  width: 1rem;
  height: 0.85rem;
  background: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.05rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
body.index .mui-content .slider .row .cell .img img {
  float: left;
  width: 100%;
  height: 100%;
}
body.index .mui-content .slider .row .cell .shangpin {
  width: 0.28rem;
  height: 0.29rem;
}
body.index .mui-content .slider .mint-swipe-item .row:last-of-type .cell:first-of-type .shangpin{
  width: 0.3rem;
  height: 0.23rem;
}
body.index .mui-content .slider .row .cell .dingdan {
  width: 0.26rem;
  height: 0.28rem;
}
body.index .mui-content .slider .row .cell .xiaoxi {
  width: 0.25rem;
  height: 0.22rem;
}
body.index .mui-content .slider .row .cell .shouxin {
  width: 0.31rem;
  height: 0.29rem;
}
body.index .mui-content .slider .row .cell .shegou {
  width: 0.31rem;
  height: 0.29rem;
}
body.index .mui-content .slider .row .cell .fenxi {
  width: 0.26rem;
  height: 0.3rem;
}
body.index .mui-content .slider .row .cell .text {
  height: 0.2rem;
  line-height: 0.2rem;
  font-size: 0.14rem;
  color: #737b91;
  text-align: center;
  margin-top: 0.07rem;
}
body.index .mui-content .slider .row .cell .num {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  display: block;
  height: 0.14rem;
  line-height: 0.15rem;
  background: #ff736c;
  color: #fff;
  font-family: PingFangSC-Regular;
  font-size: 0.1rem;
  padding: 0 0.037rem;
  border-radius: 0.07rem;
}
.mint-swipe-indicator {
  width: 0.06rem;
  height: 0.06rem;
  background-color: #9CADF5;
}
.mint-swipe-indicator.is-active {
  background: rgba(71, 104, 243, 0.5);
  opacity: 1;
  width: 0.05rem;
  height: 0.1rem;
  border-radius: 0.05rem;
}
.register .main {
  padding-top: 0.1rem;
}
.zhengzhao .main {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 0;
}
.zhengzhao .main .left-text-input input {
  width: 1.95rem;
}
.zhishu .main {
  padding: 0.1rem 0.22rem 0 0.22rem;
}
.zhishu .main .list .list-row {
  height: 0.5rem;
  line-height: 0.5rem;
  display: flex;
  border-bottom: 1px solid #F0F0F0;
  font-family: PingFangSC-Regular;
  font-size: 0.14rem;
  color: #555555;
}
.zhishu .main .list .list-row > div {
  width: 30%;
  height: 0.5rem;
}
.zhishu .main .list .list-row > div input {
  margin: 0;
  padding: 0;
  width: 0.38rem;
  height: 0.22rem;
  line-height: 0.22rem;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 0.16rem;
  color: #222222;
}
.zhishu .main .list .list-row > div input span {
  color: #222222;
}
.zhishu .main .list .list-row .one {
  width: 40%;
  text-align: center;
}
.zhishu .main .list .list-row .two {
  text-align: center;
}
.zhishu .main .list .list-row .three {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.zhishu .main .list .list-row .three > span {
  display: inline-block;
}
.zhishu .main .list .list-row .three .del {
  width: 0.16rem;
  height: 0.16rem;
  background: url(../images/del-icon.svg) no-repeat;
  background-size: 100% 100%;
}
.zhishu .main .list .list-row .three .edit {
  width: 0.14rem;
  height: 0.14rem;
  background: url(../images/bianji-icon.svg) no-repeat;
  background-size: 100% 100%;
}
.zhishu .main .list .list-row .three .complete {
  width: 0.58rem;
  height: 0.5rem;
  background-color: #ff9900;
  position: absolute;
  top: 0;
  right: 0;
  font-family: PingFangSC-Regular;
  font-size: 0.14rem;
  color: #fff;
  text-align: center;
}
.zhishu .main .tip {
  height: 0.7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zhishu .main .tip .cont {
  width: 2rem;
  height: 0.34rem;
  line-height: 0.17rem;
  font-size: 0.12rem;
  font-family: PingFangSC-Regular;
  color: rgba(102, 102, 102, 0.95);
  position: relative;
  margin-left: 0.4rem;
}
.zhishu .main .tip .cont::before {
  content: "";
  display: block;
  width: 0.15rem;
  height: 0.15rem;
  background: url(../images/tip-icon.svg) no-repeat;
  position: absolute;
  top: 0;
  left: -0.2rem;
}
.zhishu .bottomBtn {
  position: fixed;
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  bottom: 0.14rem;
  left: 0;
}
.zhishu .bottomBtn .cont {
  width: 2.4rem;
  height: 100%;
  margin: 0 auto;
  background: #ff9900;
  border-radius: 0.25rem;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 0.16rem;
  color: rgba(255, 255, 255, 0.95);
}
.zhishu .bg-black {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.39);
}
.zhishu .bg-black .main {
  margin: 0.88rem 0.2rem 0 0.2rem;
  padding: 0 0.3rem;
}
.zhishu .bg-black .main .list .list-row {
  border-bottom: none;
}
.zhishu .bg-black .main .list .list-row .one {
  width: 65%;
}
.zhishu .bg-black .main .list .list-row .two {
  width: 35%;
}
.zhishu .bg-black .main .list .list-row.one {
  height: 0.25rem;
  line-height: 0.25rem;
}
.zhishu .bg-black .main .tip1 {
  font-family: PingFangSC-Regular;
  font-size: 0.12rem;
  color: rgba(153, 153, 153, 0.95);
  margin-top: 0.2rem;
}
.zhishu .bg-black .main .btns-two {
  height: 0.38rem;
  display: flex;
  margin-top: 0.1rem;
}
.zhishu .bg-black .main .btns-two > div {
  width: 1.32rem;
  height: 0.38rem;
  line-height: 0.38rem;
  text-align: center;
  background: rgba(174, 174, 174, 0.5);
  box-shadow: 0 4px 6px 0 rgba(174, 174, 174, 0.35);
  border-radius: 0.19rem;
  font-family: PingFangSC-Regular;
  font-size: 0.16rem;
  color: rgba(255, 255, 255, 0.95);
}
.zhishu .bg-black .main .btns-two .right {
  background: #ff9900;
  margin-left: 0.1rem;
}
.text-left-right {
  width: 2.75rem;
  margin: 0.2rem auto 0.4rem auto;
}
.text-left-right div {
  font-family: PingFangSC-Regular;
  font-size: 0.13rem;
  height: 0.13rem;
  line-height: 0.13rem;
}
.text-left-right div a {
  color: #737b91;
}
.text-left-right div:nth-child(1) {
  float: left;
}
.text-left-right div:nth-child(2) {
  float: right;
}
.text-left-right:after {
  content: "";
  display: table;
  clear: both;
}
.btn-whole-line {
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 2.4rem;
  height: 0.5rem;
  border-radius: 3px;
  line-height: 0.5rem;
  font-family: PingFangSC-Regular;
  border: none;
}
.btn-blue {
  background: rgba(174, 174, 174, 0.5);
  font-size: 0.16rem;
  color: rgba(255, 255, 255, 0.95);
}
.btn-blue:enabled:active {
  background: rgba(174, 174, 174, 0.5);
  font-size: 0.16rem;
  color: rgba(255, 255, 255, 0.95);
}
.btn-blue.active {
  background: #ff9900;
}
.btn-blue.active:enabled:active {
  background: #ff9900;
  font-size: 0.16rem;
  color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 6px 0 rgba(71, 104, 243, 0.35);
}
.checkbox-single {
  height: 0.46rem;
  line-height: 0.46rem;
  width:3rem;
  margin: 0 auto;
  font-size: 0.12rem;
  color: #8c8c8c;
  margin-top: 0.13rem;
}
.checkbox-single input[type="checkbox"] {
  width: 0.14rem;
  height: 0.14rem;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
}
.checkbox-single input::after {
  font-family: Muiicons;
  content: "\e411";
  float: left;
  color: #C4C4C4;
  font-size: 0.18rem;
}
.checkbox-single input[type="checkbox"]:checked:after {
  font-family: Muiicons;
  content: "\e442";
  float: left;
  color: #ff9900;
  font-size: 0.18rem;
}
.checkbox-single label {
  display: inline-block;
  margin-left: 0.05rem;
}
.checkbox-single span {
  color: #ff9900;
}
.checkbox-double {
  margin: 0 auto;
  width: 2.9rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.14rem;
  color: #72777d;
}
.checkbox-double span:first-child {
  color: #72777d;
  margin-right: 0.15rem;
}
.checkbox-double input[type="radio"] {
  width: 0.18rem;
  height: 0.18rem;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  vertical-align: top;
  margin-top: 0.15rem;
}
.checkbox-double input::after {
  font-family: Muiicons;
  content: "\e411";
  float: left;
  color: #C4C4C4;
  font-size: 0.18rem;
}
.checkbox-double input[type="radio"]:checked:after {
  font-family: Muiicons;
  content: "\e442";
  float: left;
  color: #ff9900;
  font-size: 0.18rem;
}
.checkbox-double span {
  color: #bdc2c6;
  display: inline-block;
  margin-right: 0.1rem;
}
.left-title {
  height: 0.65rem;
  line-height: 0.65rem;
  font-size: 0.18rem;
  color: #2b343b;
}
.mui-table-view.mui-table-view-chevron {
  width: 2.9rem;
  height: 0.5rem;
  margin: 0 auto;
  line-height: 0.5rem;
}
.mui-table-view.mui-table-view-chevron li {
  padding: 0;
  height: 0.5rem;
  line-height: 0.5rem;
}
.mui-table-view.mui-table-view-chevron li a {
  margin: 0;
  width: 100%;
}
.mui-table-view.mui-table-view-chevron li a.mui-active {
  background-color: transparent;
}
.mui-table-view.mui-table-view-chevron li .mui-navigate-right:after,
.mui-table-view.mui-table-view-chevron li .mui-push-right:after {
  right: -0.05rem;
}
.mui-table-view.mui-table-view-chevron span:first-of-type {
  color: #72777d;
  font-size: 0.14rem;
  margin-right: 0.32rem;
}
.mui-table-view.mui-table-view-chevron span:nth-child(2) {
  color: #bdc2c6;
  font-size: 0.14rem;
}
.mui-table-view.mui-table-view-chevron span:nth-child(3) {
  color: #bdc2c6;
  font-size: 0.14rem;
}
.top-blue-box {
  width: 100%;
  height: 2.36rem;
  background-color: #ff9900;
  box-shadow: 0 5px 11px 0 #A8BCF1;
  padding-top: 0.2rem;
  text-align: center;
}
.top-blue-box .img {
  width: 0.9rem;
  height: 0.9rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.top-blue-box .img img {
  float: left;
  width: 100%;
  height: 100%;
}
.top-blue-box .phone {
  height: 0.2rem;
  line-height: 0.2rem;
  margin-top: 0.09rem;
}
.top-blue-box .phone .cont {
  position: relative;
  width: 1.25rem;
  margin: 0 auto;
  height: 0.2rem;
  line-height: 0.2rem;
  color: #fff;
  font-size: 0.18rem;
}
.top-blue-box .phone .cont span {
  position: absolute;
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  left: -0.15rem;
  top: -0.01rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  background: url(../images/iPhone-8-true.svg) no-repeat;
  background-size: 0.27rem 0.27rem;
  background-position: -0.03rem 0;
}
.top-blue-box .name {
  margin: 0.04rem auto 0 auto;
  height: 0.12rem;
  line-height: 0.12rem;
  font-size: 0.12rem;
  color: #fff;
  text-align: center;
}
.top-blue-box .btns {
  height: 0.32rem;
  line-height: 0.32rem;
  text-align: center;
  font-size: 0;
  margin-top: 0.13rem;
}
.top-blue-box .btns > div {
  display: inline-block;
  height: 0.32rem;
  width: 1rem;
  border-radius: 0.16rem;
  border: 1px solid #fff;
  font-size: 0.14rem;
}
.top-blue-box .btns .left {
  opacity: 0.5;
  color: #ffffff;
}
.top-blue-box .btns .right {
  margin-left: 0.1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  color: #ff9900;
}
.white-bg {
  margin: 0 0.2rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.white-bg p {
  margin: 0;
}
.white-bg.zhanghushezhang {
  height: 1rem;
  margin-top: -0.14rem;
  margin-bottom: 0.2rem;
}
.white-bg.zhanghushezhang .left {
  position: relative;
  float: left;
  width: 1.16rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.white-bg.zhanghushezhang .left p {
  height: 0.2rem;
  line-height: 0.2rem;
  font-size: 0.14rem;
  padding-left: 0.2rem;
  color: #737b91;
}
.white-bg.zhanghushezhang .left p:nth-child(1) {
  margin-bottom: 0.16rem;
}
.white-bg.zhanghushezhang .left:after {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 0.7rem;
  background-color: #f1f3f8;
  right: 0;
}
.white-bg.zhanghushezhang .right {
  float: left;
  width: 2.16rem;
  height: 1rem;
  text-align: right;
}
.white-bg.zhanghushezhang .right p {
  padding-right: 0.2rem;
  color: #737b91;
}
.white-bg.zhanghushezhang .right p:nth-child(1) {
  height: 0.33rem;
  line-height: 0.33rem;
  font-size: 0.24rem;
  margin-top: 0.15rem;
}
.white-bg.zhanghushezhang .right p:nth-child(2) {
  height: 0.2rem;
  line-height: 0.2rem;
  margin-top: 0.12rem;
  font-size: 0.14rem;
}
.white-bg.lanmu .img-text {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.14rem;
  color: #72777d;
  padding-left: 0.18rem;
}
.white-bg.lanmu .img-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 1px;
  background-color: #F1F3F8;
}
.white-bg.lanmu .img-text i {
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
}
.white-bg.lanmu .img-text .jiaoyi {
  width: 0.15rem;
  height: 0.15rem;
  margin-right: 0.1rem;
  background: url(../images/icon_record_s.svg) no-repeat;
}
.white-bg.lanmu .img-text .yhk {
  width: 0.15rem;
  height: 0.12rem;
  background: url(../images/icon_bankcard.svg) no-repeat;
  margin-right: 0.1rem;
  margin-top: -0.02rem;
}
.white-bg.lanmu .img-text .jietiao {
  width: 0.14rem;
  height: 0.16rem;
  background: url(../images/jietiao-icon.svg) no-repeat;
  margin-right: 0.1rem;
}
.white-bg.lanmu .img-text .yaoqing {
  width: 0.15rem;
  height: 0.13rem;
  background: url(../images/yaoqing-icon.svg) no-repeat;
  margin-right: 0.1rem;
  margin-top: -0.03rem;
}
.white-bg.lanmu .img-text .shezhi {
  width: 0.15rem;
  height: 0.15rem;
  background: url(../images/icon_option.svg) no-repeat;
  margin-right: 0.1rem;
  margin-top: -0.03rem;
}
.white-bg.lanmu .img-text .xinxi {
  width: 0.15rem;
  height: 0.13rem;
  background: url(../images/icon_storeinfo.svg) no-repeat;
  margin-right: 0.11rem;
  margin-top: -0.02rem;
}
.white-bg.lanmu .img-text .dizhi {
  width: 0.13rem;
  height: 0.15rem;
  background: url(../images/icon_address_s.svg) no-repeat;
  margin-right: 0.12rem;
  margin-top: -0.03rem;
}
.white-bg.lanmu .img-text .zhishu {
  width: 0.15rem;
  height: 0.11rem;
  background: url(../images/icon_analysis_s.svg) no-repeat;
  margin-right: 0.1rem;
  margin-top: -0.04rem;
}
.white-bg.lanmu .img-text .yuangong {
  width: 0.13rem;
  height: 0.13rem;
  background: url(../images/icon_partner1.svg) no-repeat;
  margin-right: 0.12rem;
  margin-top: -0.04rem;
}
.white-bg.lanmu .img-text .renzheng {
  width: 0.13rem;
  height: 0.15rem;
  background: url(../images/icon_attestation_s.svg) no-repeat;
  margin-right: 0.12rem;
  margin-top: -0.02rem;
}
.white-bg.lanmu .img-text .renzheng + span {
  font-family: PingFangSC-Light;
  font-size: 0.1rem;
  color: #aeaeae;
  text-align: center;
  margin-left: 0.1rem;
}
[v-cloak] {
  display: none !important;
}
/* 修改mui.confirm */
.mui-popup {
  /* 整体宽度 */
  width: 3.12rem;
  top: 50%;
}
/* 上边的文字 */
.mui-popup-inner {
  padding: 0.33rem 0.4rem 0 0.4rem;
  background: #fff;
}
.mui-popup-inner:after {
  display: none;
}
.mui-popup-title + .mui-popup-text {
  margin: 0;
  line-height: 0.22rem;
  font-family: PingFangSC-Light;
  font-size: 0.16rem;
  color: #262626;
}
/* 两个按钮的父级 */
.mui-popup-buttons {
  background: #fff;
  border-radius: 0 0 13px 13px;
  height: auto;
  padding-top: 0.17rem;
  padding-bottom: 0.27rem;
}
/* 按钮 */
.mui-popup-button {
  background: #fff;
  width: 1.16rem;
  height: 0.36rem;
  line-height: 0.36rem;
  padding: 0;
  font-size: 0.16rem;
  font-family: PingFangSC-Regular;
}
/* 左边的按钮 */
.mui-popup-button:first-child {
  background: rgba(174, 174, 174, 0.5);
  box-shadow: 0 4px 6px 0 rgba(174, 174, 174, 0.35);
  color: rgba(255, 255, 255, 0.95);
  border-radius: 0.18rem;
  height: 0.25rem;
  line-height: 0.25rem;
  width: 1rem;
  font-size: 0.14rem;
}
.mui-popup-button:first-child:not(.mui-popup-button-bold) {
  margin-right: 0.3rem;
}
/* 右边的按钮 */
.mui-popup-button:last-child {
  background: #ff9900;
  color: rgba(255, 255, 255, 0.95);
  margin-left: 0.16rem;
  border-radius: 0.18rem;
  height: 0.25rem;
  line-height: 0.25rem;
  width: 1rem;
  font-size: 0.14rem;
}
.mui-toast-container {
  bottom: 50%;
}
.mui-toast-message {
  opacity: 0.8;
}
.mui-popup-button:first-child:last-child {
  border-radius: 0.18rem;
  height: 0.25rem;
  line-height: 0.25rem;
  width: 1rem;
  font-size: 0.14rem;
}
.mui-popup-button:last-child {
  margin-left: 0;
}
.mart20{
  margin-top: 0.2rem;
}