
/*分页代码*/
.paging{
    height: 50px;
    position: relative;
    margin-bottom: 50px;
}
.paging .paging-con{
   /* min-width: 173px;*/
    height: 38px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.24);
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    top: 14px;
    padding-top: 6px;
    padding-left: 9px;
    padding-right: 9px;
}
.paging .paging-con .pag-item{
	display: inline-block;
    min-width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.22);
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 7px;
    font-size: 12px;
    color: #666;
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}
.pag-active{
    background-color: #ff9900!important;
    color: #fff!important;
}
.paging-con .pag-item.sanjiao:before{
    display: block;
    content: "";
    width: 0!important;
    height: 0!important;
    border-top: 4px solid transparent;
    border-right: 8px solid #959595;
    border-bottom: 4px solid transparent;
    position: absolute;
    left: 7px;
    top: 8px;
}
.paging-con .pag-item.sanjiao2:before{
    display: block;
    content: "";
    width: 0!important;
    height: 0!important;
    border-top: 4px solid transparent;
    border-left: 8px solid #959595;
    border-bottom: 4px solid transparent;
    position: absolute;
    left: 7px;
    top: 8px;
}