.mui-bar {
  background-color: #fff;
}
.mui-bar-nav.mui-bar .mui-icon {
  font-size: 1.4rem;
  color: #171717;
  padding-left: 0.426667rem;
  padding-top: 0.426667rem;
}
.mui-bar .mui-title {
  color: #171717;
  font-size: 0.85rem;
  /* line-height: 2.4rem; */
}
.mui-content {
  background-color: #f4f4f4;
}
.topInfo {
  background-color: #FFFFFF;
}
.topInfo .top {
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.6rem;
  color: #262626;
  /* padding-left: 0.75rem; */
  border-bottom: 1px solid #F0F0F0;
}
.topInfo .top span {
  display: inline-block;
  height: 100%;
  border-bottom: 2px solid #ff9900;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  
}
.topInfo .top a {
  color: #2f2f2f;
  float: right;
  border: 1px solid red;
  width: 1.75rem;
  height: 1.75rem;
  background-size: 0.5rem 0.25rem;
  background: url(../images/icon_arow_down.svg);
}
.topInfo .top a.active {
  background: url(../images/icon_arow_up.svg) no-repeat;
  background-position: center center;
  background-size: 0.5rem 0.25rem;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
ul.list li p.time {
  height: 1.28rem;
  line-height: 1.28rem;
  text-align: center;
  font-size: 0.512rem;
  color:#8c8c8c;
  background-color: #F8F8F8;
  margin: 0;
}
ul.list li .main {
  background-color: #fff;
  height: 5.25rem;
  box-sizing: border-box;
  /* width: 100%; */
  margin: 0 0.853333rem;
  padding: 0.64rem 0 0.75rem 0.64rem;

  position: relative;
  /* border:1px solid red; */

  background:#ffffff;
  box-shadow:0 4px 6px 0 rgba(0,0,0,0.10);
  border-radius:5px 5px 5px 0 5px;  
}
ul.list li .main .logo {
  width: 2.986667rem;
  height: 2.986667rem;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}
ul.list li .main .logo img {
  float: left;
  width: 100%;
}
ul.list li .main .txt {
  padding-left: 3.541333rem;
  padding-right: 5rem;
  height: 3.75rem;
}
ul.list li .main .txt .name {
  color: #2f2f2f;
  height: 0.7rem;
  line-height: 0.7rem;

  font-family:PingFangSC-Light;
  font-size: 0.682667rem;
  color:#737b91;  
}
ul.list li .main .txt .name i {
  display: inline-block;
  width: 1.5rem;
  height: 0.7rem;
  background: url(../images/2017-10-11_130412.png) no-repeat;
  background-size: 1.2rem 0.5rem;
  background-position: center 0.2rem;
}
ul.list li .main .txt .phone {
  height: 0.6rem;
  line-height: 0.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;

  font-size: 0.597333rem;
  color:#737b91;  
}
ul.list li .main .txt .creditBtn {
  width: 3.6rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  background-color: #33D594;
  border-radius: 0.5rem;
  font-size: 0.512rem;
  color: #FFFFFF;
}
ul.list li .main .btns {
  width: 5rem;
  height: 3.75rem;
  margin-top: -1.875rem;
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0.3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #D6D6D6;
}
ul.list li .main .btns div {
  width: 1.8rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.45rem;
  border-radius: 0.5rem;
  text-align: center;
  color: #fff;
}
ul.list li .main .btns .ok {
  background-color: #FF9900;
}
ul.list li .main .btns .no {
  background-color: #AEAEAE;
}
