.mui-bar {
  background-color: #fff;
}
.mui-bar-nav.mui-bar .mui-icon {
  font-size: 1rem;
  color: #171717;
}
.mui-bar .mui-title {
  color: #171717;
  font-size: 0.85rem;
  /* line-height: 2.4rem; */
}
.mui-content {
  background-color: #f4f4f4;
}
.mui-input-group .mui-input-row label {
  width: 31.25%;
  padding-left: 0.75rem;
  box-sizing: border-box;
  color: #262626;
}
.mui-input-group .mui-input-row .rig_font {
    width: 68%;
    padding-right: 0.75rem;
    color: #262626;
    font-size: 0.6rem;
    line-height: 2.5rem;
    display: block;
    float: right;
    height: 2.5rem;
}
/*.mui-input-group .mui-input-row .rig_address_div {
    width: 68%;
    padding-right: 1rem;
    height: 2.5rem;
    float: right;
}*/

.mui-input-group .mui-input-row .rig_font input{
	display: block;
	  width: 100%;
    padding: 0.5rem 0;
    padding-right: 0.75rem;
    color: #262626;
    margin: 0;
    line-height: 1.5rem;
    font-size: 0.6rem;
    
}
.mui-input-group .mui-input-row input {
		display: block;
    width: 68%;
    padding: 0.5rem 0;
    padding-right: 0.75rem;
    height: 2.5rem;
    color: #262626;
    margin: 0;
    line-height: 1.5rem;
    font-size: 0.6rem;
    
}
.mui-input-group .mui-input-row input::-webkit-input-placeholder {
  
}
.mui-input-group .mui-input-row input::-webkit-input-placeholder {
　　color: #999;
   line-height: 1.5rem;
   font-size: 0.6rem;
　　}
　　.mui-input-group .mui-input-row input:-moz-placeholder { 
　　color: #999;
   line-height: 1.5rem;
   font-size: 0.6rem;
　　}
　　.mui-input-group .mui-input-row input::-moz-placeholder { 
　　color: #999;
   line-height: 1.5rem;
   font-size: 0.6rem;
　　}
　　.mui-input-group .mui-input-row input:-ms-input-placeholder { 
　　color: #999;
   line-height: 1.5rem;
   font-size: 0.6rem;
　　}
.mui-input-group .mui-input-row.inputRigthBtn {
  position: relative;
}
.mui-input-group .mui-input-row.inputRigthBtn input {
  padding-right: 1rem;
}
.mui-input-group .mui-input-row.inputRigthBtn .rightBtn {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  width: 0.6rem;
  height: 0.9rem;
  background: url(../images/rightBtn.svg) no-repeat;
  background-size: 100% 100%;
  margin-top: -0.45rem;
}
.mui-input-group .none {
  width: 100%;
  height: 0.5rem;
  background-color: #F8F8F8;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear,
.mui-input-row .mui-input-password ~ .mui-icon-eye,
.mui-input-row .mui-input-speech ~ .mui-icon-speech {
  height: 2.5rem;
  top: 0;
}

.mui-input-row .mui-input-clear ~ .mui-icon-clear:before {
  display: none;
  top: 46%;
}
.xyBox {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.6rem;
  color: #2f2f2f;
  position: relative;
}
.xyBox div {
  float: left;
  font-size: 0.6rem;
  color: #2f2f2f;
}
.xyBox div:first-child {
  width: 31.25%;
  padding-left: 0.75rem;
  box-sizing: border-box;
  color: #262626;
}
.xyBox div.mui-input-row {
  clear: none;
  width: 3.3rem;
  position: relative;
  padding-left: 0.9rem;
}
.xyBox div.mui-input-row input[type=checkbox],
.xyBox div.mui-input-row input[type=radio] {
	display: block;
  position: absolute;
	left: 0;
	top: 0.5rem;
	width: 0.5rem;
	height: 0.5rem;
    
}
.xyBox div.mui-input-row input[type=checkbox]:before,
.xyBox div.mui-input-row input[type=radio]:before {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
}
.xyBox div.mui-input-row input[type=checkbox]:checked:before,
.xyBox div.mui-input-row input[type=radio]:checked:before {
  color: #ff9900;
}
.xyBox .line {
  position: absolute;
  bottom: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
  width: auto;
  left: 0.75rem;
  right: 0.75rem;
}
.switchBox:before {
  display: none;
}
.switchBox:after {
  display: none;
}
.switchBox .mui-table-view-cell {
  padding: 0;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 0.75rem;
  border: none;
}
.switchBox .mui-table-view-cell span:first-child {
  color: #262626;
  font-size: 0.6rem;
}
.switchBox .mui-table-view-cell div.mui-switch {
  left: 28%;
  top: 21%;
  transform: scale(0.5);
}
.switchBox .mui-table-view-cell .mui-switch.mui-active {
  border-color: #ff9900;
  background-color: #ff9900;
}
.switchBox .mui-table-view-cell .line {
  position: absolute;
  bottom: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
  width: auto;
  left: 0.75rem;
  right: 0.75rem;
}
#openPicker {
  display: none;
}
#openPicker:before {
  display: none;
}
#openPicker:after {
  display: none;
}
#openPicker li {
  font-size: 0.6rem;
  color: #262626;
  height: 2.5rem;
  padding: 0;
}
#openPicker li a.mui-navigate-right {
  position: relative;
  height: 2.5rem;
  margin: 0;
  line-height: 2.5rem;
  padding-left: 0.75rem;
}
#openPicker li a.mui-navigate-right:after {
  display: none;
}
#openPicker li a.mui-navigate-right .tip111,
#openPicker li a.mui-navigate-right #timeResult {
  position: absolute;
  height: 100%;
  left: 31.25%;
  font-size: 12px;
  color: #aeaeae;
}
#openPicker li a.mui-navigate-right #timeResult {
  color: #2f2f2f;
}
#openPicker li .rightBtn {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  width: 0.6rem;
  height: 0.9rem;
  background: url(../images/rightBtn.svg) no-repeat;
  background-size: 100% 100%;
  margin-top: -0.45rem;
}
#openPicker li .line {
  position: absolute;
  bottom: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
  width: auto;
  left: 0.75rem;
  right: 0.75rem;
}
.mui-table-view-cell > a:not(.mui-btn).mui-active {
  background-color: #fff;
}
.mui-content {
  padding-bottom: 3rem;
}
.bottomBtnBox {
  width: 100%;
  background-color: #fff;
  height: 3rem;
  padding: 0.55rem 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
}
.bottomBtnBox .btn1 {
  width: 100%;
  height: 100%;
  background-color: #AEAEAE;
  text-align: center;
  line-height: 1.9rem;
  color: #fff;
  border-radius: 0.95rem;
}
.bottomBtnBox .btn1.active {
  background-color: #ff9900;
}
.mui-toast-container.mui-active {
  top: 50%;
  width: 9.5rem;
}
.mui-toast-container.mui-active .mui-toast-message {
  font-size: 0.6rem;
  color: #F6F6F6;
}
.mui-popup.mui-popup-in {
  background: #fff;
}
.mui-popup.mui-popup-in .mui-popup-inner:after {
  display: none;
}
.mui-popup.mui-popup-in .mui-popup-inner .mui-popup-text {
  font-size: 0.6rem;
  color: #393939;
  margin: 0;
}
.mui-popup.mui-popup-in .mui-popup-buttons {
  background: #fff;
  padding: 0 1rem 0 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.mui-popup.mui-popup-in .mui-popup-buttons .mui-popup-button {
  width: 3.6rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  color: #fff;
  background-color: #AEAEAE;
}
.mui-popup.mui-popup-in .mui-popup-buttons .mui-popup-button.mui-popup-button-bold {
  background-color: #FF9900;
}
.uploadImgBox h3 {
  height: 1.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 0.5rem;
  color: #262626;
  font-weight: normal;
  padding-left: 0.75rem;
}
.uploadImgBox .cont {
  padding: 0 1.25rem;
}
.uploadImgBox .cont > div {
  width: 6rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  overflow: hidden;
}
.uploadImgBox .cont .imgBox{
  /* width: 4.5rem; */
  width: 6rem;
	height: 4.5rem;
}
.uploadImgBox .cont .imgBox.widbox{
  /* width: 90%; */
  width: 6rem;
	height: 4.5rem;
}
.uploadImgBox .cont > div:nth-child(odd) {
  float: left;
}
.uploadImgBox .cont > div:nth-child(even) {
  float: right;
}
.uploadImgBox .cont .noImg {
  border: 1px solid #aeaeae;
  line-height: 4.5rem;
  text-align: center;
  font-size: 0.6rem;
  color: #aeaeae;
}
.uploadImgBox .cont .imgBox {
  position: relative;
}
.uploadImgBox .cont .imgBox img {
  float: left;
  width: 100%;
  height: 100%;
  display: block;
}
.uploadImgBox .cont .imgBox span.del {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  font-size: 0.6rem;
  background-color: #F54F46;
  color: #fff;
  border-radius: 0.275rem;
  position: absolute;
  top: 0;
  right: 0;
}
.uploadImgBox .cont .uploadBox p {
  font-size: 0.45rem;
  color: #8c8c8c;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
.uploadImgBox .cont .uploadBox .uploadImgBtn {
  width: 3.6rem;
  height: 1rem;
  background-color: #ff9900;
  color: #fff;
  text-align: center;
  line-height: 1rem;
  margin: 0 auto;
  font-size: 0.45rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
.xyBox.hei43{
	height: 4.5rem;
}
.xyBox .rig_input_div{
	line-height: 1rem;
	padding: 0 0.75rem;
	font-size: 0.5rem;
    color: #2f2f2f;
}
.xyBox .rig_input_div i{
	color: #ff9900;
	padding-right: 0.2rem;
}
.hiddenBox .t {
    height: 1.5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: #262626;
    font-weight: normal;
    padding-left: 0.75rem;
}