body {
    background: #fff;
}
.title {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    text-indent: 0;
    background: #fff;
    display: block!important;
}
h3 {
    padding: 0 5px;
    text-indent: 0;
    font-size: 16px;
    color: #333;
}
table {
    width: 100%;
    padding: 0 10px 10px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
table,
td,
tr {
    border: 1px solid #ccc;
}
table tr td {
    text-align: center;
    min-width: 100px;
}
div {
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px;
    background-color: #fff;
    text-indent: 2em;
}
div section {
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px;
    background-color: #fff;
    text-indent: 2em;
}
.user {
    line-height: 25px;
    font-weight: 700;
}
.no-indent {
    text-indent: 0;
}
.seal-size {
        z-index: 20;
    position: relative;
    top: 110px;
    left: 80px;
    width: 100px;
    height: 100px;
}
.seal {
    background: url("../images/seal.svg") no-repeat;
    background-size: 80px;
    background-position: 30% center;
}
section {
    background: #fff;
    padding-top: 2px;
}
section h3 {
    padding: 10px 5px;
    line-height: 20px;
}
h4 {
    margin: 10px 0;
    padding-left: 5px;
    text-indent: 0;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.showDig {
    font-size: 16px;
    color: #666;
    height: 40px;
    line-height: 40px;
    width: calc(100% - 20px);
    margin: 0 auto;
    border: 1px solid #C7C7CC;
    text-align: center;
    border-radius: 3px;
    text-indent: 0em;
}
.ecloudsign_div{
	position: relative;
}
.ecloudsign {
    z-index: 1;
    position: absolute;
    top: -40px;
    right: -4px;
    width: 100px;
    height: 100px;
}
