.mui-bar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #D5D5D5;
}
.mui-bar-nav.mui-bar .mui-icon {
  font-size: 1rem;
  color: #2F2F2F;
}
.mui-bar .mui-title {
  color: #2F2F2F;
  font-size: 0.85rem;
}
.mui-content {
  background-color: #f4f4f4;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
ul.list {
  border-bottom: 1px solid #D5D5D5;
}
ul.list li .main {
  background-color: #fff;
  height: 3.25rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0 0.7rem 0.9rem;
  position: relative;
}
ul.list li .main .logo {
  width: 1.85rem;
  height: 1.85rem;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}
ul.list li .main .logo img {
  float: left;
  width: 100%;
  height: 100%;
}
ul.list li .main .logo .noImg {
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/2017-10-12_131000.png) no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
ul.list li .main .txt {
  padding-left: 2.1rem;
  height: 1.85rem;
}
ul.list li .main .txt .name {
  font-size: 0.7rem;
  color: #2f2f2f;
  height: 0.7rem;
  line-height: 0.7rem;
}
ul.list li .main .txt .name i {
  display: inline-block;
  width: 1.5rem;
  height: 0.7rem;
  background: url(../images/2017-10-11_130412.png) no-repeat;
  background-size: 1.2rem 0.5rem;
  background-position: center 0.2rem;
}
ul.list li .main .txt .phone {
  font-size: 0.5rem;
  color: #8c8c8c;
  height: 0.6rem;
  line-height: 0.6rem;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}
.centerBtn {
  height: 2.5rem;
  width: 100%;
  position: relative;
  background: #ffffff;
}
.centerBtn:after {
  content: "";
  display: table;
  clear: both;
}
.centerBtn:before {
  content: "";
  display: block;
  width: 1px;
  height: 1.3rem;
  background-color: #D7D7D7;
  position: absolute;
  margin-left: -0.05rem;
  margin-top: -0.65rem;
  top: 50%;
  left: 50%;
}
.centerBtn > div {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}
.centerBtn > div span {
  display: block;
}
.centerBtn > div span:nth-child(1) {
  font-size: 0.7rem;
  color: #2f2f2f;
  height: 0.7rem;
  line-height: 0.7rem;
  margin-top: 0.45rem;
  position: relative;
}
.centerBtn > div span:nth-child(1):before {
  display: block;
  width: 0.5rem;
  height: 0.6rem;
  content: "";
  background-size: 100% 100%;
  position: absolute;
  left: 25%;
  top: 0;
}
.centerBtn > div span:nth-child(2) {
  font-size: 0.5rem;
  color: #8c8c8c;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.2rem;
}
.centerBtn.line {
  border-bottom: 1px solid #F8F8F8;
}
.shopIntroduction {
  background-color: #FFFFFF;
}
.shopIntroduction .top {
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.6rem;
  color: #262626;
  padding-left: 0.75rem;
  border-bottom: 1px solid #F0F0F0;
}
.shopIntroduction .top span {
  display: inline-block;
  height: 100%;
  border-bottom: 2px solid #ff9900;
}
.noneBox {
  width: 100%;
  height: 0.5rem;
  background-color: #F8F8F8;
}
.chartBox .noDataBox {
  width: 100%;
  height: 11.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  display: none;
}
.chartBox .noDataBox .img {
  width: 2.2rem;
  height: 2.2rem;
  background: url(../images/icon_nodata.svg) no-repeat;
  background-size: 100% 100%;
}
.chartBox .noDataBox .txt {
  font-size: 0.45rem;
  color: #8c8c8c;
  margin-top: 0.6rem;
}
.chartBox .data {
  position: relative;
}
.chartBox .data .txt {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.chartBox .data .txt .title {
  font-size: 0.6rem;
  color: #2f2f2f;
  height: 0.6rem;
  line-height: 0.6rem;
}
.chartBox .data .txt .desc {
  font-size: 1rem;
  color: #2f2f2f;
  height: 1rem;
  line-height: 1rem;
  margin-top: 0.25rem;
}
.chartBox .labelBox {
  width: 100%;
  background-color: #fff;
}
.chartBox .labelBox:after {
  content: "";
  display: table;
  clear: both;
}
.chartBox .labelBox .oneBox {
  width: 50%;
  height: 2.5rem;
  float: left;
  display: flex;
  justify-content: center;
}
.chartBox .labelBox .oneBox .txt {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.chartBox .labelBox .oneBox .txt .name {
  font-size: 0.5rem;
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  position: relative;
  margin-bottom: 0.2rem;
  color: #8c8c8c;
}
.chartBox .labelBox .oneBox .txt .name i {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  margin-top: -0.2rem;
  top: 50%;
  left: -0.6rem;
  border-radius: 50%;
}
.chartBox .labelBox .oneBox .txt .num {
  font-size: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #262626;
}
.threeNumBox {
  width: 100%;
  height: 2.5rem;
  display: flex;
  background-color: #ffffff;
}
.threeNumBox .txt {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.threeNumBox .txt span {
  display: block;
}
.threeNumBox .txt span:nth-child(1) {
  font-size: 0.7rem;
  color: #2f2f2f;
  height: 0.7rem;
  line-height: 0.7rem;
}
.threeNumBox .txt span:nth-child(2) {
  font-size: 0.5rem;
  color: #8c8c8c;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.2rem;
}
.threeNumBox .txt:after {
  content: "";
  display: block;
  width: 1px;
  height: 1.3rem;
  background-color: #D6D6D6;
  position: absolute;
  right: 0;
}
.threeNumBox .txt:last-child:after {
  display: none;
}
