.mui-bar {
  background-color: #262626;
}
.mui-bar-nav.mui-bar .mui-icon {
  font-size: 1rem;
  color: #fff;
}
.mui-bar .mui-title {
  color: #fff;
  font-size: 0.85rem;
  /* line-height: 2.4rem; */
}
.mui-content {
  background-color: #f4f4f4;
}

.topTitle {
  height: 1.75rem;
  width: 100%;
  line-height: 1.75rem;
  font-size: 0.45rem;
  color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem;
  border-bottom: 1px solid #F0F0F0;
  background: #fff;
}
.numAndTime {
  width: 100%;
  padding: 0.75rem 0.75rem;
  background: #fff;
  font-size: 0.45rem;
  color: #2f2f2f;
}
.numAndTime div {
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.4rem;
}
.numAndTime div span {
  color: #262626;
}
.numAndTime div:nth-child(1) {
  margin-top: 0;
}
.numAndTime div.desc {
  height: auto;
  line-height: 0.8rem;
  display: table;
}
.numAndTime div.desc span:first-child {
  display: table-cell;
  white-space: nowrap;
}
.numAndTime div.desc span:last-child {
  display: table-cell;
}
.none {
  width: 100%;
  height: 0.5rem;
  background-color: #EFEFEF;
}
.mui-bar .sideTxt {
  font-size: 0.55rem;
  height: 2.2rem;
  float: right;
  line-height: 2.2rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 1rem;
}
.mui-input-group .mui-input-row label {
  width: 31.25%;
  padding-left: 0.75rem;
  box-sizing: border-box;
  color: #262626;
}
.mui-input-group .mui-input-row input {
  width: 68%;
  padding-right: 1rem;
  color: #262626;
}
.mui-input-group .mui-input-row input::-webkit-input-placeholder {
  color: #aeaeae;
}
.mui-input-group .mui-input-row.inputRigthBtn {
  position: relative;
}
.mui-input-group .mui-input-row.inputRigthBtn input {
  padding-right: 2rem;
}
.mui-input-group .mui-input-row.inputRigthBtn .rightBtn {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  width: 0.6rem;
  height: 0.9rem;
  background: url(../images/rightBtn.svg) no-repeat;
  background-size: 100% 100%;
  margin-top: -0.45rem;
}
.mui-input-group .none {
  width: 100%;
  height: 0.5rem;
  background-color: #F8F8F8;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear,
.mui-input-row .mui-input-password ~ .mui-icon-eye,
.mui-input-row .mui-input-speech ~ .mui-icon-speech {
  height: 2.5rem;
  top: 0;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear:before {
  display: none;
  top: 46%;
}
.bottomBtn {
  width: 100%;
  height: 2.2rem;
  padding: 0 0.75rem;
  line-height: 2.2rem;
  text-align: center;
  margin-bottom: 1.75rem;
  bottom: 1.6rem;
  left: 0;
}
.bottomBtn .btn {
  color: #fff;
  font-size: 0.7rem;
  background-color: #FF9900;
  border-radius: 1.1rem;
}
