html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #EFEFEF;
}
.mui-bar {
  background-color: #fff;
}
.mui-bar-nav.mui-bar .mui-icon {
  font-size: 1rem;
  color: #2F2F2F;
}
.mui-bar .mui-title {
  color: #2F2F2F;
  font-size: 0.85rem;
  /* line-height: 2.4rem; */
}
.mui-content {
  background-color: #f4f4f4;
}
header .searchBtn {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background: url(../images/searchBtn.png) no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  right: 0.6rem;
  margin-top: -0.3rem;
}
header span {
  color: #ffffff;
  font-size: 0.6rem;
  position: absolute;
  display: inline-block;
  height: 0.6rem;
  line-height: 0.6rem;
  margin-top: -0.3rem;
  right: 1.4rem;
  top: 50%;
}
.topBox {
  height: 4.7rem;
  background-color: #ff9900;
  color: #ffffff;
  text-align: center;
  padding-top: 1.2rem;
}
.topBox .sum {
  font-size: 1.5rem;
  font-weight: normal;
  height: 1.5rem;
  line-height: 1.5rem;
}
.topBox .tip {
  font-size: 0.55rem;
  color: #dddddd;
  height: 0.55rem;
  line-height: 0.55rem;
  margin-top: 0.6rem;
}
.centerBtn {
  height: 2.5rem;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  background: #ffffff;
  margin-top: 10px;
}
.centerBtn:after {
  content: "";
  display: table;
  clear: both;
}
.centerBtn:before {
  content: "";
  display: block;
  width: 1px;
  height: 1.3rem;
  background-color: #D7D7D7;
  position: absolute;
  margin-left: -0.05rem;
  margin-top: -0.65rem;
  top: 50%;
  left: 50%;
}
.centerBtn > div {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}
.centerBtn > div span {
  display: block;
}
.centerBtn > div span:nth-child(1) {
  font-size: 0.7rem;
  color: #777777;
  height: 0.7rem;
  line-height: 0.7rem;
  margin-top: 0.45rem;
  position: relative;
}
.centerBtn > div span:nth-child(1):before {
  display: block;
  width: 0.5rem;
  height: 0.6rem;
  content: "";
  background-size: 100% 100%;
  position: absolute;
  left: 25%;
  top: 0;
}
.centerBtn > div span:nth-child(2) {
  font-size: 0.5rem;
  color: #8c8c8c;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.1rem;
}
li {
  list-style-type: none;
}
.mui-checkbox input[type=checkbox]:before,
.mui-radio input[type=radio]:before {
  display: block;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
  color: #F54F46;
}
#openPicker:before {
  display: none;
}
#openPicker:after {
  display: none;
}
#openPicker li {
  font-size: 0.6rem;
  color: #262626;
  height: 2.5rem;
  padding: 0;
}
#openPicker li a.mui-navigate-right {
  position: relative;
  height: 2.5rem;
  margin: 0;
  line-height: 2.5rem;
  padding-left: 0.75rem;
}
#openPicker li a.mui-navigate-right:after {
  display: none;
}
#openPicker li a.mui-navigate-right .logo {
  float: left;
  width: 1.15rem;
  height: 1.1rem;
  background: url(../images/icon_enter_bussiness.svg) no-repeat;
  background-size: 100%;
  margin-left: 0.25rem;
  margin-top: 0.7rem;
}
#openPicker li a.mui-navigate-right .tip111 {
  position: absolute;
  height: 100%;
  left: 18.25%;
  font-size: 0.6rem;
  color: #2f2f2f;
}
#openPicker li a.mui-navigate-right .tip111 .num {
  width: 1remrem;
  height: 0.5rem;
  font-size: 0.4rem;
  line-height: 0.5rem;
  color: #fff;
  background-color: #F54F46;
  padding: 0 0.2rem;
  border-radius: 0.4rem;
}
#openPicker li .rightBtn {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  width: 0.6rem;
  height: 0.9rem;
  background: url(../images/rightBtn.svg) no-repeat;
  background-size: 100% 100%;
  margin-top: -0.45rem;
}
#openPicker li .line {
  position: absolute;
  bottom: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
  width: auto;
  left: 0.75rem;
  right: 0.75rem;
  display: none;
}
.mui-table-view-cell > a:not(.mui-btn).mui-active {
  background-color: #fff;
}
.searchBox {
  height: 2.5rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  margin-top: 10px;
}
.searchBox .cont {
  border: 1px solid #F0F0F0;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.searchBox .cont input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 0.5rem;
  border: none;
  padding-left: 1.4rem;
  background: url(../images/2017-10-11_111014.png) no-repeat;
  background-size: 0.6rem 0.55rem;
  background-position: 0.5rem 0.37rem;
}
.searchBox .cont input::-webkit-input-placeholder {
  color: #aeaeae;
}
#noData {
  display: flex;
}
#noData span {
  margin: auto;
  font-size: 0.45rem;
  color: #8c8c8c;
}
.mui-indexed-list-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
}
.mui-indexed-list-bar a {
  font-size: 0.2rem;
}
.mui-indexed-list-bar.active {
  background: none;
}
